@import 'tailwindcss';

.navLink {
  padding: 0.5rem 0.8rem;
  border-radius: 0.7rem;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
}

input,
button {
  border: 1px solid #000;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

button {
  padding: 0.4rem 1rem;
  border-radius: 10px;
}
